@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import 'tailwindcss';



@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "mytheme";
    default: true; /* set as default */
    prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: light; /* color of browser-provided UI */
  
    --color-base-100: oklch(98% 0.01 91);
    --color-base-200: oklch(97% 0.02 73);
    --color-base-300: oklch(96% 0.02 73);
    --color-base-content: oklch(23% 0.01 107);
    --color-primary: oklch(82% 0.04 121);
    --color-primary-content: oklch(23% 0.01 107);
    --color-secondary: oklch(72% 0.06 130);
    --color-secondary-content: oklch(23% 0.01 107);

    --color-accent: oklch(48% 0.03 176);
    --color-accent-content: oklch(98% 0.02 181);
    --color-neutral: oklch(23% 0 107);
    --color-neutral-content: oklch(97% 0 0);
    --color-info: oklch(72% 0.06 55);
    --color-info-content: oklch(97% 0.02 91);

    --color-success: oklch(65% 0.25 140);
    --color-success-content: oklch(98% 0.01 140);
    --color-warning: oklch(80% 0.25 80);
    --color-warning-content: oklch(20% 0.05 80);
    --color-error: oklch(65% 0.3 30);
    --color-error-content: oklch(98% 0.01 30);
  
    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
  
    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
  
    /* border size */
    --border: 1px;
  
    /* effects */
    --depth: 1;
    --noise: 0;
}

@plugin "@iconify/tailwind4";

@theme {
    --font-sans: 'Work Sans', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: 'Castoro', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}



html, body, table, section, div, input, select, textarea {
    @apply font-sans text-[#4A635C];
}


h1, h2, h3, h4, h5, h6 {
    @apply font-serif;

}



.glass-tooth {
    @apply border-none rounded-2xl
}

.glass-tooth {
    backdrop-filter: blur(20px);
    background-color: rgba(29, 29, 24, 0.50);
    background-image: linear-gradient(
            135deg,
            oklch(100% 0 0 / 30%) 0%,
            oklch(0% 0 0 / 0%) 100%
        ),
        linear-gradient(
            2deg,
            oklch(100% 0 0 / 2%) 45%,
            oklch(0% 0 0 / 0%) 25%
        );
    box-shadow: 0 0 0 1px oklch(100% 0 0 / 20%) inset,
        0 0 0 2px oklch(0% 0 0 / 5%);
    text-shadow: 0 1px oklch(0% 0 0 / 5%);
}




header .navbar .menu a {
    @apply text-shadow-xs text-shadow-white
}



.trendless-straipsnis-intro {
    @apply col-span-2 leading-7;
}
.trendless-straipsnis-intro h2 {
    @apply text-2xl font-bold my-4 text-justify xl:text-center;
}
.trendless-straipsnis-intro p {
    @apply text-justify xl:text-center;
}


.trendless-straipsniai-item {
    @apply w-full grid grid-cols-1 xl:grid-cols-3 gap-x-4 gap-y-4 items-center justify-center
}


.trendless-straipsnis {
    @apply text-justify leading-7;
}
.trendless-straipsnis p {
    @apply mb-4;
}
.trendless-straipsnis h3 {
    @apply text-xl font-bold mt-6 mb-4;
}
.trendless-straipsnis h4 {
    @apply text-lg font-normal mt-4 mb-4;
}

.trendless-straipsnis ul {
    @apply list-disc pl-7 mb-4;
}
.trendless-straipsnis ol {
    @apply list-decimal pl-7 mb-4;
}


.trendless-straipsnis-image {
    @apply w-full col-span-1 rounded-xl !border-1 !border-[#C1C9AE] outline -outline-offset-2 outline-white/70 
    transition duration-300 ease-in-out
    hover:rotate-x-12 hover:rotate-y-12 hover:-rotate-z-6
}

.trendless-full-image {
    @apply w-full rounded-xl !border-1 !border-[#C1C9AE] outline -outline-offset-2 outline-white/70 
}



.trendless-kainorastis h2 {
    @apply text-2xl font-bold my-4 text-left;
}

.trendless-kainorastis table {
    @apply table table-md border-separate !rounded-xl !border !border-[#C1C9AE] outline -outline-offset-2 outline-white/70 mb-10;
}
.trendless-kainorastis table tr {
    @apply odd:bg-white/10 even:bg-white/20 hover:bg-white/30;

}
.trendless-kainorastis table tr td {
    @apply last:text-right last:max-w-24 last:w-24;
}

