@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import 'tailwindcss';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "mytheme";
    default: true; /* set as default */
    prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: light; /* color of browser-provided UI */
  
    --color-base-100: oklch(98% 0.01 91);
    --color-base-200: oklch(97% 0.02 73);
    --color-base-300: oklch(96% 0.02 73);
    --color-base-content: oklch(23% 0.01 107);
    --color-primary: oklch(82% 0.04 121);
    --color-primary-content: oklch(23% 0.01 107);
    --color-secondary: oklch(72% 0.06 130);
    --color-secondary-content: oklch(23% 0.01 107);

    --color-accent: oklch(48% 0.03 176);
    --color-accent-content: oklch(98% 0.02 181);
    --color-neutral: oklch(23% 0 107);
    --color-neutral-content: oklch(97% 0 0);
    --color-info: oklch(72% 0.06 55);
    --color-info-content: oklch(97% 0.02 91);

    --color-success: oklch(65% 0.25 140);
    --color-success-content: oklch(98% 0.01 140);
    --color-warning: oklch(80% 0.25 80);
    --color-warning-content: oklch(20% 0.05 80);
    --color-error: oklch(65% 0.3 30);
    --color-error-content: oklch(98% 0.01 30);
  
    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
  
    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
  
    /* border size */
    --border: 1px;
  
    /* effects */
    --depth: 1;
    --noise: 0;
}


@theme {
    --font-sans: 'Work Sans', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: 'Castoro', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}



html, body, table, section, div, input, select, textarea {
    @apply font-sans text-[#4A635C];
}



h1, h2, h3, h4, h5, h6 {
    @apply font-serif;

}

a:hover {
    @apply text-blue-500;
}






.glass-tooth {
    @apply border-none rounded-2xl
}

.glass-tooth {
    backdrop-filter: blur(20px);
    background-color: rgba(29, 29, 24, 0.50);
    background-image: linear-gradient(
            135deg,
            oklch(100% 0 0 / 30%) 0%,
            oklch(0% 0 0 / 0%) 100%
        ),
        linear-gradient(
            2deg,
            oklch(100% 0 0 / 2%) 45%,
            oklch(0% 0 0 / 0%) 25%
        );
    box-shadow: 0 0 0 1px oklch(100% 0 0 / 20%) inset,
        0 0 0 2px oklch(0% 0 0 / 5%);
    text-shadow: 0 1px oklch(0% 0 0 / 5%);
}


.glass-mini {
    @apply border-none rounded-2xl


}
.glass-mini {
    backdrop-filter: blur(10px);
    background-color: rgba(29, 29, 24, 0.10);
    background-image: linear-gradient(
            135deg,
            oklch(100% 0 0 / 30%) 0%,
            oklch(0% 0 0 / 0%) 50%
        ),
        linear-gradient(
            2deg,
            oklch(100% 0 0 / 2%) 45%,
            oklch(0% 0 0 / 0%) 25%
        );
    box-shadow: 0 0 0 1px oklch(100% 0 0 / 20%) inset,
        0 0 0 2px oklch(0% 0 0 / 5%);
    text-shadow: 0 1px oklch(0% 0 0 / 5%);
}
.glass-mini:hover {
    background-color: rgba(29, 29, 24, 0.20);
    box-shadow: 0 0 0 1px oklch(100% 0 0 / 30%) inset,
    0 0 0 2px oklch(0% 0 0 / 5%);
}
.glass-mini:hover::before {
    @apply absolute -top-1 -right-1 block w-2.5 h-2.5 rounded-full bg-white content-['*'] overflow-hidden text-white;
}


nav a {
    @apply px-3 py-2 text-white relative

}
nav a.active {
    @apply text-white/70
}
nav a:hover {
    @apply border-none rounded-2xl
}
nav a:hover {
    backdrop-filter: blur(20px);
    background-color: rgba(29, 29, 24, 0.50);
    background-image: linear-gradient(
            135deg,
            oklch(100% 0 0 / 30%) 0%,
            oklch(0% 0 0 / 0%) 100%
        ),
        linear-gradient(
            2deg,
            oklch(100% 0 0 / 2%) 45%,
            oklch(0% 0 0 / 0%) 25%
        );
    box-shadow: 0 0 0 1px oklch(100% 0 0 / 20%) inset,
        0 0 0 2px oklch(0% 0 0 / 5%);
    text-shadow: 0 1px oklch(0% 0 0 / 5%);
}

nav a:hover .status {
    @apply block;
}

nav a:hover::before {
    @apply absolute -top-1 -right-1 block w-2.5 h-2.5 rounded-full bg-white content-['*'] overflow-hidden text-white;
}


